# Ignore everything
*

# But not these files/directories
!.gitignore
!Progress_Report/
!Progress_Report/**
!src/
!src/**/*.cs
!src/**/*.config
!src/**/*.cshtml
!src/**/*.asax
!src/**/*.sln
!src/**/*.csproj
!src/**/*.json
!src/**/*.png
!src/**/*.jpg
!src/**/*.jpeg
!src/**/*.gif
!src/**/*.ico
!src/**/*.svg
!src/**/*.css
!src/**/*.js
!src/**/*.ttf
!src/**/*.woff
!src/**/*.woff2
!src/**/*.eot
!src/**/*.otf
!src/**/*.map
!src/**/*.xml
!src/**/*.txt
!src/**/*.html
!src/**/*.bak
!src/**/*.sql
!src/**/*.md
!src/**/*.pdf
!src/**/*.zip
!src/**/*.mp4
!src/**/*.webm
!src/**/*.mp3
!src/**/*.wav
!src/**/*.exe
!src/**/*.dll
!src/**/*.pdb
!src/**/*.mdf
!src/**/*.ldf
!src/**/*.ico
!thesis/
!thesis/**
!script.sql
!README.md
